.footer {
  max-width: 318px;
  max-height: 18px;
  color: white;
  font-family: "Inter", Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  width: 100%;
  padding-left: 15%;
  padding-top: 67px;
}

@media screen and (max-width: 900px) {
  .footer {
    padding-left: 100px;
  }
}

@media screen and (max-width: 330px) {
  .footer {
    padding-left: 5%;
  }
}
