.image-modal {
position: fixed;
padding: 0;
  z-index: 999;
  background: none;
  
}

.image-modal__container {
    position: fixed;
   max-width: 75vw;
   max-height: 75vh;
   display: flex;
   justify-content: center;
    align-items: center; 
   object-fit: cover;
   background-position: center;

}

.image-modal__image {
    width: 100%;
}

.image-modal__close-button {
    position: absolute;
    top: -45px;
    right: 45px;
    width: 40px;
    height: 40px;
    background: url(../images/Close\ Icon.svg) no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-size: contain;
}